<div class="container-fluid text-center">
  <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th colspan="7"><h3>First 10 Employees</h3></th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>No. of Orders</th>
            <th>Full Time Available</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.id %></td>
              <td><%= employee.first_name %> <%= employee.last_name %></td>
              <td><%= employee.email %></td>
              <td><%= employee.age %></td>
              <td><%= employee.no_of_order %></td>
              <td><%= employee.full_time_available ? 'Yes' : 'No' %></td>
              <td><%= employee.salary %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row col-12 justify-content-center"> 
        <%= link_to "All Employees...", get_all_employees_path %>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
