<div class="container-fluid text-center">
  <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>
              <div class="row">
                <div class="col-10 h4 text-left">
                  <%= @event.name %>
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#addcomment">
                    Add comment
                  </button>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td class="text-left">
                  <strong>User:</strong> <%= comment.user.username.titleize %>
                  <br>
                  <strong>At:</strong> <%= comment.created_at %>
                  <br>
                  <strong>Comment:</strong> <%= comment.comment %>
                  <br>
                  <% like_counts = comment.likes.count %>
                  <% if liked_comment?(comment.id, current_user) %>
                    <%= link_to raw('<i class="fa-solid fa-thumbs-up fa-lg"></i>'), unlike_comments_path(comment.id), :class => "btn float-left py-0", title: "Liked" %>
                    <%= "(#{like_counts} likes)" %>
                  <% else %>
                    <%= link_to raw('<i class="fa-regular fa-thumbs-up fa-lg"></i>'), like_comments_path(comment.id), :class => "btn float-left py-0", title: "Like" %>
                    <%= "(#{like_counts} likes)" %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= render partial: "modal" %>

    </div>
    <div class="col-2"></div>
  </div>
</div>
