<div class="text-center">
  <br>
  <div class="w-50 bg-dark mx-auto text-light">
    <%=flash[:notice]%>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      
      <% unless logged_in? %>
        
        <h1>Login</h1>
        <%= form_tag (users_path) do %>
          <div class="input-group mb-3">
            <label class="input-group-text" >Username</label>
            <br />
            <%= text_field_tag :username, nil, class: 'form-control' %>
          </div>
          
          <div class="input-group mb-3">
            <label class='input-group-text' >Password</label>
            <br />
            <%= password_field_tag :password, nil, class: 'form-control' %>
          </div>
          
          <div class="input-group mb-3">
            <%= submit_tag :login, class: 'btn-success rounded p-1 px-2' %>
          </div>
        <% end %>
          
      <%else%>
      
        <%= render partial: "logout" %>
        <hr>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>User Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to "Cars", cars_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Your Events", events_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Enroll into events", enrollments_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Profile", profiles_path %></td>
            </tr>
          </tbody>
        </table>

      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
