<%= form_with model: event do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Enter eventname" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control", placeholder:"Enter description" %>
  </div>

  <div class="form-group">
    <%= form.label :event_date, "Event Date" %>
    <%= form.date_field :event_date, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category_id, categories.map { |c| [c.category_name, c.id]}, {}, class: "form-control"%>
  </div>
  
  <div class="row">
    <div class="col-6">
      <%= form.submit value:"#{submit_btn}", class:"btn btn-sm btn-success float-left" %>
    </div>
    <div class="col-6">
      <%= link_to "Back", events_path, class:"btn btn-sm btn-danger float-right" %>
    </div>
  </div>
<% end %>